@import 'buttons';

body {
  margin: 0;
  overflow: hidden;
}

.demoContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .hidden {
    display: none;
  }

  .helpers {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;

    & > * {
      pointer-events: all;
    }

    .header {
      .markerList {
        text-align: center;
      }
    }
  }
}
